<%= form_for (@event) do |f| %>
    <h3>Event title:</h3>
    <%= f.text_field :summary %><br>
    <h3>Event Description:</h3>
    <%= f.text_field :description %><br>
    <h3>Location:</h3>
    <%= f.text_field :location %><br>
    <h3>Attendees (Separate e-mails with a comma):</h1>
    <%= f.text_field :attendees %>
    <h3>Start Time:</h3>
    <%= f.datetime_select(:start) %><br>
    <h3>End Time:</h3>
    <%= f.datetime_select(:end) %><br>
    <%= f.submit 'Add Event' %>
<% end %>
